*{
    margin: 0;
    padding: 0;
}

.full-width{
    /* background: #000; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-card{
    display: inline-block;
    height: 40px;
    width: 80%;
    background-image: url("../images/background/mre/DSC_0653.JPG");
}


.my-portfolio-h1 h1, .my-experience-h1 h1, .clients-testimonials-h1 h1{
    font-size: 30px;
    margin: 25px auto 25px auto;
    color: #111111;
}

.my-portfolio-h1 h1 span, .my-experience-h1 h1 span, .clients-testimonials-h1 h1 span{
    color: #56c7f3;
}

/* header starts  */


header{
    /* background: #3a3a3a; */
    background-image: url("../images/background/mre/DSC_0699.JPG");
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    /* object-fit: contain; */
    width: 100%;
    height: 657px;
}

/* nav bar starts */

.nav-container{
    position: fixed;
    background: #31323394;
    display: flex;
    width: 80%;
    height: 40px;
    /* border: 1px solid yellow; */
    justify-content: space-between;
    overflow: hidden;
    z-index: 5;
}

.nav-logo{
    color: #56c7f3;
    /* background-color: chartreuse; */
}
.nav-logo span{
    color: #ffffff;
}
.nav-logo h1{
    font-size: 30px;
    padding: 3px;
}


.nav-menu-bar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav-menu-bar ul li{
    display: flex ;
    /* background: red; */
    height: 40px;
    align-items: center;
}

.nav-menu-bar ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    font-family: monospace;
    /* background: #41729F; */
    padding: 20px 15px;
}

.nav-menu-bar>ul>li:hover{
    background: #41729F;
    /* transition: all 1s ease; */
}



/* navbar ends  */

/* home starts  */
.semi-width{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.home-container{
    width: 40%;
    margin-top: 42px;
    padding-top: 60px;
    /* background: yellowgreen; */
    /* border: 1px solid red; */
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-container .profile-image img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #ffffff;
}

.home-container h1{
    margin-top: 6px;
    margin-bottom: 6px;
    color: #ffffff;
}
.about-h1{
    height: 38px;
    width: 140px;
    text-align: center;
    display: inline-block;
} 

.home-container .p-container{
    /* background: red; */
    color: #ffffff;
    position: relative;
    display: inline-block;
    width: 160px;
    height: 40px;
    overflow: hidden;
    margin-bottom: 16px;
}
.home-container .p-container{
    border-right: 3px solid #ffffff;
}
.home-container .p-container .p-container-wd{
    /* background: chartreuse; */
    position: absolute;
    display: inline-block;
    width: 130px;
    /* background-color: red; */
    font-size: 18px;
    padding: 9px 20px 9px 6px;
    /* border-right: 3px solid #ffffff; */
    left: 0px;
    animation: animate-wd 20s ease-in infinite;
}

@keyframes animate-wd {
    0%{
        left: 0px;
    }
    40%{
        left: 0px;
    }
    45%{
        left: 160px;
    }
    90%{
        left: 160px;
    }
    95%{
        left: 0px;
    }
    100%{
        left: 0px;
        /* transform: scale(1); */
    }
}

.home-container .p-container .p-container-uu{
    /* background: tomato; */
    position: absolute;
    /* left: 160px; */
    width: 130px;
    font-size: 18px;
    padding: 10px 20px 10px 6px;
    /* border-right: 4px solid #ffffff; */
    /* transform: scale(0); */
    animation: animate-uu 20s ease-in infinite;
}

@keyframes animate-uu {
    0%{
        left: 160px;
    }
    50%{
        left: 160px;
    }
    55%{
        left: 0px;
        /* transform: scale(1); */
    }
    85%{
        left: 0px;
    }
    90%{
        left: 160px;
    }
    100%{
        left: 160px;
        /* transform: scale(1); */
    }
}



.home-container .profile-link-container{
    display: flex;
    /* border: 1px solid #3a3a3a; */
    /* width: 200px; */
    /* background: red; */
    padding-left: 5px;
    height: 46px;
}

.home-container .profile-link-container .profile-link{
    height: 42px;
    width: 42px;
    border: 2px solid #5a5a5a;
    margin-right: 6px;
    background-color: #3a3a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: border background-color;
    transition-duration: 1s;
}
.home-container .profile-link-container .profile-link:hover{
    transition: all 1s linear;
    /* background-color: #0a0a0a; */
    border:2px solid #fff;
    box-shadow: inset 2px 2px 40px rgba(200, 200, 200, .3);
}

.home-container .profile-link-container .profile-link a{
    text-decoration: none;
}
.home-container .profile-link-container .profile-link a i{
    font-size: 20px;
    color: #ffffff;
}

/* home container ends  */

/* mouse container starts */
.mouse-container{
    display: inline-flex;
    border: 2px solid #ffffff;
    height: 80px;
    width: 60px;
    justify-content: center;
    position: relative;
    margin-top: 70px;
    bottom: 20px;
    border-radius: 30px;
}

.mouse-container .mouse-circle{
    display: inline-block;
    height:  10px;
    width: 10px;
    position: relative;
    top: 10px;
    background: #111111;
    border-radius: 50%;
    transform: scale(0);
    animation: animate-mouse 6s linear infinite reverse;
}

@keyframes animate-mouse {
    0%{
        top: 10px;
        transform: scale(0);
    }
    60%{
        top:10px;
        transform: scale(1);
    }
    75%{
        top: 30px;
        transform: scale(1);
    }
    90%{
        top: 10px;
        transform: scale(1);
    }
    100%{
        top: 10px;
        transform: scale(0);
    }
}

/* home ends  */

/* main starts */


/* about starts */

.about-section-container{
    display: flex;
    align-items: center;
    width: calc( 80% - 20px);
    /* height: 600px; */
    /* background: red; */
    padding: 0 10px;
}




.about-image img{
    width: 360px;
    object-fit: contain;
}

.about-content-container{
    height: 460px;
    padding: 20px;
}

.about-content-container h1{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 12px;
}

.about-content-container h1:after{
    content: '';
    display: inline-block;
    height: 1px;
    width: 30px;
    background-color: #000000;
}

.about-content-container p{
    font-size: 20px;
    margin-bottom: 10px;
}



.about-content-container caption p{
    font-size: 18px;
}
.about-content-container table{
    width: 100%;
    /* background-color: yellow; */
    padding-bottom: 10px;
}
.about-content-container table span{
    display: none;
}
.about-content-container table tr td{
    font-size: 17px;
    padding-top: 10px;
}

.about-buttons{
    display: inline-flex;
    height: 50px;
    padding: 20px 0;
    overflow: hidden;
    /* background-color: royalblue; */
}


.button a{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    /* padding: 10px 16px; */
    margin: 10px 10px 10px 0px;
    border-radius: 6px;
}

.about-button-skills{
    background-color: #56c7f3;
    color: #ffffff;
    font-weight: 500;
    padding: 10px 16px;
    transition: all 1s ease;
}

.about-button-skills:hover{
    background-color: #fff;
    color: #8a8a8a;
    padding: 8px 14px;
    border: 2px solid #56c7f3;
    transition: all 1s ease;
}

.about-button-cv{
    background-color: #fff;
    color: #8a8a8a;
    padding: 8px 14px;
    font-weight: 500;
    border: 2px solid #56c7f3;
    transition: all 1s ease;
}

.about-button-cv:hover{
    background-color: #56c7f3;
    color: #ffffff;
    padding: 10px 16px;
    border: none;
    transition: all 1s ease;
}

/* about ends  */

/* my sevices starts  */

.my-services-h1 h1{
    font-size: 30px;
    margin: 10px 0 12px 0;
}

.all-services-container{
    width: calc( 80% - 40px);
    /* background-color: tomato; */
    margin: auto;
    display: grid;
    padding: 20px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

.service-card{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: yellow;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    margin: 20px auto;
}

.service-card .circle{
    display: inline-flex;
    height: 50px;
    width: 50px;
    border: 10px solid #000;
    border-radius: 50%;
    margin: 12px 0;
    justify-content: center;
    align-items: center;
}

.service-card .circle i{
    font-size: 24px;
}

.service-card h2{
    margin-bottom: 10px;
}

.service-card p{
    text-align: center;
    line-height: 24px;
    margin-bottom: 10px;
}


/* my services ends  */

/* my skills starts  */
.my-skills-background{
    background-image: url(../images/background/mre/DSC_0635.JPG);
    background-position: left;
    background-repeat: no-repeat;
}

.my-skills-h1 h1{
    font-size: 30px;
    margin: 50px 0 12px 0;
    color: #ffffff;
}

.my-skills-h1 h1 span{
    color: #56c7f3;
}

.my-skills-container{
    width: calc( 80% - 40px);
    /* background-color: tomato; */
    margin: auto;
    display: grid;
    padding: 20px;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
}
.my-skill-card{
    min-width: 400px;
    margin: 10px auto 10px auto;
    padding: 10px;
}

.skill-name{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.skill-progress{
    display: inline-block;
    width: 100%;
    height: 24px;
}

/* my skills ends  */

/* my portfolio starts */

.portfolio-categories{
    margin: 0px auto 20px;
}
.portfolio-categories a{
    text-decoration: none;
    padding: 4px 10px;
    color: #111111;
    border-radius: 8px;
    transition: all 500ms linear;
}

.portfolio-categories a:hover{
    transition: all 1s linear;
    background-color: #56c7f3;
}

.my-portfolio-container{
    width: calc( 80% - 40px);
    padding: 20px;
    margin: 10px auto 20px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.portfolio-card{
    height: 320px;
    background-position: center;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.portfolio-card-background-1{
    background-image: url("../images/background/bg-image-1.jpg");
}
.portfolio-card-background-2{
    background-image: url("../images/background/bg-image-4.jpg");
}
.portfolio-card-background-3{
    background-image: url("../images/background/bg-image-16.jpg");
}
.portfolio-card-background-4{
    background-image: url("../images/background/bg-image-21.jpg");
}
.portfolio-card-background-5{
    background-image: url("../images/background/bg-image-17.jpg");
}
.portfolio-card-background-6{
    background-image: url("../images/background/bg-image-15.jpg");
}

.portfolio-card h1,.portfolio-card p{
    /* visibility: hidden; */
    transform: scale(0);
}

.portfolio-card:hover a{
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.portfolio-card:hover h1{
    transition: all 500ms linear;
    /* visibility: visible; */
    transform-origin: bottom;
    transform: scale(1);
}
.portfolio-card:hover p{
    transition: all 500ms linear;
    /* visibility: visible; */
    transform-origin: top;
    transform: scale(1);
}

.portfolio-card:hover a{
    background-color: #56c7f3;
    opacity: .5;
    cursor: crosshair;
}


/* my portfolio ends  */

/* history starts  */

.history-container{
    background-color: rgb(35, 36, 35);
    display: grid;
    width: 100%;
    padding: 40px auto;
    grid-template-columns: repeat(4,1fr);
}

.history-card{
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transform: scale(1.5); */
}

.history-card h1{
    color: #56c7f3;
    font-size: 40px;
    margin-bottom: 6px;
}
.history-card p{
    color: #ffffff;
}

/* history ends  */

/* my experience starts  */

.my-experience-container{
    width: calc(80% - 40px);
    display: grid;
    margin:  auto;
    padding: 40px 20px;
    grid-template-columns: repeat(2,1fr);
}

.my-experience-card{
    display: inline-block;
    width: 360px;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.my-experience-container h3{
    font-size: 24px;
    margin: 10px;
}
.my-experience-container h4{
    font-size: 18px;
    margin: 0 10px 10px 10px;
}
.my-experience-container p:nth-child(3){
    margin-left: 10px;
    /* line-height: 20px; */
}
.my-experience-container p:nth-child(4){
    margin-left: 10px;
    margin-top: 10px;
    line-height: 20px;
    margin-bottom: 10px;
}


/* my experience ends  */

.clients-testimonial-background{
    background-image: url("../images/background/mre/DSC_0647.JPG");
    offset: contain;
}

.clients-testimonials-h1 h1{
    color: #ffffff;
}

.clients-testimonials-container{
    width: calc(80% - 40px);
    display: grid;
    margin:  auto;
    padding: 20px;
    grid-template-columns: repeat(3,1fr);
}

.testimonials-card{
    width: 300px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 20px auto;
}

.testimonials-card .icon{
    color: #56c7f3;
    font-size: 24px;
    margin-bottom: 6px;
}

.testimonials-card p{
    line-height: 20px;
}

.testimonials-card .client-info{
    display: flex;
    justify-content: space-between;
}

.testimonials-card .client-info{
    margin: 20px 0;
}

.testimonials-card .client-info .client-description h5{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
.testimonials-card .client-info .client-description h6{
    font-weight: 0;
    font-size: 16px;
    color: #6a6a6a;
}

.testimonials-card .client-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials-card .client-image img{
    width: 45px;
}